@media only screen and (max-width: 600px) {
  .heading {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .clock {
    display: none;
  }
}

.app_gdpr--3hGmb {
  display: none;
}
